header, main, footer, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

img {
  display: block;
}

button {
  border: none;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}

header .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7E9FC;
  padding: 24px 156px
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 76px;
  align-items: center;
  color: #2e2f42;
}

.nav-items {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.nav-link {
  /* letter-spacing: 0.02em; */
  font-weight: 500;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-items {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

section {
  padding: 120px 156px;
}

.hero {
  padding-block: 188px;
  text-align: center;
  color: #ffffff;
  background-color: #2e2f42;
}

.page-title {
  margin-bottom: 48px;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-size: 56px;
  font-weight: 700;
}

.hero-btn {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404bbf;
}

.section-title {
  margin-bottom: 72px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-subtitle {
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
  /* letter-spacing: 0.02em; */
  font-weight: 500;
  color: #2e2f42;
}

.advantages-items {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.team {
  background-color: #f4f4fd;
}

.persons {
  display: flex;
  gap: 24px;
}

.person-photo {
  margin-bottom: 32px;
  width: 100%;
}

.person-name,
.person-job {
  text-align: center;
}

.person-job {
  margin-bottom: 32px;
}

.person {
  background-color: #ffffff;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.portfolio-img {
  width: 100%;
  margin-bottom: 32px;
}

.portfolio-text {
  margin-bottom: 32px;
}

.footer {
  padding: 100px 156px;
  background-color: #2e2f42;
}

.footer-logo {
  margin-bottom: 16px;
}

.footer .logo-web {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  color: #f4f4fd;
}
